<!DOCTYPE html>
<html lang="en">
<head>
  <link href='//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,400italic' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="./theme/css/style.min.css">
  <link rel="stylesheet" type="text/css" href="./theme/css/pygments.min.css">
  <link rel="stylesheet" type="text/css" href="./theme/css/font-awesome.min.css">
  <link href="https://morozov.ca/feeds/all.atom.xml" type="application/atom+xml" rel="alternate" title="CTO with a CMO flavor Atom">

  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="" />
<meta name="author" content="Alex Morozov" />
<meta name="description" content="This writing is inspired by a comment on Reddit concerning my recent post: “The problem is that everyone I speak to seems to think the opposite - that the admin is super-limited, inflexible and hard to customize.” — andybak on Reddit I’m about to break this prejudice right now. The Django admin is a really brilliant piece of software, which can significantly speed up your development. Here are some tips about the Django admin, which I’ve found to be quite useful." />
<meta name="keywords" content="django, python, admin">
<meta property="og:site_name" content="CTO with a CMO flavor"/>
<meta property="og:title" content="Why you should use the Django admin: 9 tips"/>
<meta property="og:description" content="This writing is inspired by a comment on Reddit concerning my recent post: “The problem is that everyone I speak to seems to think the opposite - that the admin is super-limited, inflexible and hard to customize.” — andybak on Reddit I’m about to break this prejudice right now. The Django admin is a really brilliant piece of software, which can significantly speed up your development. Here are some tips about the Django admin, which I’ve found to be quite useful."/>
<meta property="og:locale" content="en_US"/>
<meta property="og:url" content="./why-you-should-use-the-django-admin-9-tips.html"/>
<meta property="og:type" content="article"/>
<meta property="article:published_time" content="2015-12-09 10:20:00+03:00"/>
<meta property="article:modified_time" content=""/>
<meta property="article:author" content="./author/alex-morozov.html">
<meta property="article:section" content="Programming"/>
<meta property="article:tag" content="django"/>
<meta property="article:tag" content="python"/>
<meta property="article:tag" content="admin"/>
<meta property="og:image" content="/images/alex-morozov.jpg">  <title>Why you should use the Django admin: 9 tips. CTO with a CMO flavor</title>
</head>
<body>
  <aside>
    <div>
      <a href=".">
        <img src="/images/alex-morozov.jpg" alt="CTO with a CMO flavor" title="CTO with a CMO flavor">
      </a>
      <h1><a href=".">CTO with a CMO flavor</a></h1>
      <p>Alex Morozov's blog</p>
      <nav>
        <ul class="list">
          <li><a href="./pages/about.html#about">About</a></li>
          <li><a href="./pages/contact-me.html#contact-me">Contact&nbsp;me</a></li>
        </ul>
      </nav>
      <ul class="social">
        <li><a class="sc-linkedin" href="https://linkedin.com/in/djangoengineer" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a class="sc-stack-overflow" href="http://stackoverflow.com/cv/django-developer" target="_blank"><i class="fa fa-stack-overflow"></i></a></li>
        <li><a class="sc-twitter" href="https://twitter.com/alexmorozov" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a class="sc-github" href="https://github.com/alexmorozov" target="_blank"><i class="fa fa-github"></i></a></li>
        <li><a class="sc-facebook" href="https://facebook.com/theveryalexmorozov" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a class="sc-rss" href="https://morozov.ca/feeds/all.atom.xml" target="_blank"><i class="fa fa-rss"></i></a></li>
      </ul>
    </div>
  </aside>
  <main>

<article>
  <header>
    <h1 id="why-you-should-use-the-django-admin-9-tips">Why you should use the Django admin: 9&nbsp;tips</h1>
    <p>Posted on Wed 09 December 2015 in <a href="./category/programming.html">Programming</a></p>
  </header>
  <div>
    <p><img alt="Django admin is, you know, magic" src="./images/django-pony.png" /></p>


<p>This writing is inspired by a comment on Reddit concerning my <a href="./when-you-shouldnt-use-the-django-admin.html">recent post</a>:</p>
<blockquote>
<p><span class="dquo">&#8220;</span>The problem is that everyone I speak to seems to think the opposite - that
the admin is super-limited, inflexible and hard to&nbsp;customize.&#8221;</p>
<p>&#8212; <cite><a href="https://www.reddit.com/r/django/comments/3sfg0x/when_you_shouldnt_use_the_django_admin/">andybak</a> on Reddit</cite></p>
</blockquote>
<p>I&#8217;m about to break this prejudice right now. The Django admin is a really
brilliant piece of software, which can significantly speed up your&nbsp;development.</p>
<p>Here are some tips about the Django admin, which I&#8217;ve found to be quite&nbsp;useful.</p>


<p><small>
(A bit of terminology for those of us who isn&#8217;t that familiar with the Django&nbsp;admin)</p>
<blockquote>
<p><strong>Changeform</strong> is the page where you can edit the&nbsp;object.</p>
<p><strong>Changelist</strong> is the page which lists all objects of specific kind. You can filter and execute actions on the subset of objects. Clicking on the object in the changelist usually gets you to that object&#8217;s changeform.
</small></p>
</blockquote>
<p>To make the tips more practical, let&#8217;s try to solve some almost-real-life
problems. So say we have a simple site where visitors post pictures of cute
animals and leave comments on them. Should be quite popular, shouldn&#8217;t&nbsp;it?</p>
<h3 id="tip-1-the-django-admin-is-not-just-for-django-sites">Tip #1: The Django admin is not just for Django&nbsp;sites</h3>
<p>While the admin interface plays very well with the rest of Django framework,
it&#8217;s very easy to use it with, say, the legacy database or the site which has
an awkward admin interface. And quite often it&#8217;s the best way of testing if
Django will suit your&nbsp;needs.</p>
<p>All you need is&nbsp;to:</p>
<ol>
<li>Create a new application in your Django project and make sure you&#8217;ve
   configured the connection to the legacy <span class="caps">DB</span> in your <code>DATABASES</code> setting.</li>
<li>Define your data tables as Django models. A pretty useful <code>manage.py
   inspectdb</code> command does exactly what its name implies: inpects the existing
   database and prints out the auto-generated Django&nbsp;models.</li>
<li>Create an <code>admin.py</code> file and put there, er, the admin stuff. More on this
   in a&nbsp;moment.</li>
</ol>
<p>Speaking of our animals&#8217; site, it is written in <a href="https://en.wikipedia.org/wiki/Brainfuck">Brainf*ck</a>, so the admin
interface looks like&#8230; You know, not that good.  To fix it, we resembled
the database structure with several Django models and put together a simple
admin&nbsp;interface:</p>
<div class="highlight"><pre><span></span><span class="c1"># models.py</span>
<span class="k">class</span> <span class="nc">Picture</span><span class="p">(</span><span class="n">models</span><span class="o">.</span><span class="n">Model</span><span class="p">):</span>
    <span class="n">DOG</span> <span class="o">=</span> <span class="mi">1</span>
    <span class="n">CAT</span> <span class="o">=</span> <span class="mi">2</span>
    <span class="n">ANIMAL_KIND_CHOICES</span> <span class="o">=</span> <span class="p">(</span>
        <span class="p">(</span><span class="n">DOG</span><span class="p">,</span> <span class="s1">&#39;dog&#39;</span><span class="p">),</span>
        <span class="p">(</span><span class="n">CAT</span><span class="p">,</span> <span class="s1">&#39;cat&#39;</span><span class="p">),</span>
    <span class="p">)</span>

    <span class="n">title</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><span class="n">max_length</span><span class="o">=</span><span class="mi">200</span><span class="p">)</span>
    <span class="n">author</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">ForeignKey</span><span class="p">(</span><span class="n">Author</span><span class="p">,</span> <span class="n">related_name</span><span class="o">=</span><span class="s1">&#39;pictures&#39;</span><span class="p">)</span>
    <span class="n">animal_kind</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">IntegerField</span><span class="p">(</span><span class="n">choices</span><span class="o">=</span><span class="n">ANIMAL_KIND_CHOICES</span><span class="p">)</span>
    <span class="n">photo</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">ImageField</span><span class="p">(</span><span class="n">upload_to</span><span class="o">=</span><span class="s1">&#39;animals&#39;</span><span class="p">)</span>
    <span class="n">is_promoted</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">BooleanField</span><span class="p">(</span><span class="n">default</span><span class="o">=</span><span class="bp">False</span><span class="p">)</span>


<span class="k">class</span> <span class="nc">Author</span><span class="p">(</span><span class="n">models</span><span class="o">.</span><span class="n">Model</span><span class="p">):</span>
    <span class="n">name</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">CharField</span><span class="p">(</span><span class="n">max_length</span><span class="o">=</span><span class="mi">100</span><span class="p">)</span>
    <span class="n">email</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">EmailField</span><span class="p">()</span>


<span class="k">class</span> <span class="nc">Comment</span><span class="p">(</span><span class="n">models</span><span class="o">.</span><span class="n">Model</span><span class="p">):</span>
    <span class="n">author</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">ForeignKey</span><span class="p">(</span><span class="n">Author</span><span class="p">,</span> <span class="n">related_name</span><span class="o">=</span><span class="s1">&#39;comments&#39;</span><span class="p">)</span>
    <span class="n">picture</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">ForeignKey</span><span class="p">(</span><span class="n">Picture</span><span class="p">,</span> <span class="n">related_name</span><span class="o">=</span><span class="s1">&#39;comments&#39;</span><span class="p">)</span>
    <span class="n">comment</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">TextField</span><span class="p">()</span>
    <span class="n">editors_note</span> <span class="o">=</span> <span class="n">models</span><span class="o">.</span><span class="n">TextField</span><span class="p">()</span>

<span class="c1"># admin.py</span>
<span class="k">class</span> <span class="nc">PictureAdmin</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">ModelAdmin</span><span class="p">):</span>
    <span class="n">list_display_fields</span> <span class="o">=</span> <span class="p">(</span><span class="s1">&#39;photo&#39;</span><span class="p">,</span> <span class="s1">&#39;animal_kind&#39;</span><span class="p">,</span> <span class="s1">&#39;author&#39;</span><span class="p">,</span> <span class="s1">&#39;is_promoted&#39;</span><span class="p">,</span> <span class="p">)</span>


<span class="k">class</span> <span class="nc">AuthorAdmin</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">ModelAdmin</span><span class="p">):</span>
    <span class="n">list_display_fields</span> <span class="o">=</span> <span class="p">(</span><span class="s1">&#39;name&#39;</span><span class="p">,</span> <span class="s1">&#39;email&#39;</span><span class="p">,</span> <span class="p">)</span>


<span class="k">class</span> <span class="nc">CommentAdmin</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">ModelAdmin</span><span class="p">):</span>
    <span class="n">list_display_fields</span> <span class="o">=</span> <span class="p">(</span><span class="s1">&#39;picture&#39;</span><span class="p">,</span> <span class="s1">&#39;author&#39;</span><span class="p">,</span> <span class="p">)</span>
</pre></div>


<h3 id="tip-2-filter-your-data-the-way-you-like">Tip #2: Filter your data the way you&nbsp;like</h3>
<p>A lot of people use the Django admin&#8217;s ability to filter on specific fields.
You know, put a field name to the <code>list_filter</code> attribute and here we go. But it&#8217;s
also extremely easy to create a custom&nbsp;filters!</p>
<p>Suppose eventually you decide to promote all the authors having 100+ posts.
But how do we distinguish them? Let&#8217;s create a filter and add it to the our&nbsp;changelist.</p>
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">ProductiveAuthorsFilter</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">SimpleListFilter</span><span class="p">):</span>
    <span class="n">parameter_name</span> <span class="o">=</span> <span class="s1">&#39;is_productive&#39;</span>
    <span class="n">title</span> <span class="o">=</span> <span class="s1">&#39;Productive author&#39;</span>
    <span class="n">YES</span><span class="p">,</span> <span class="n">NO</span> <span class="o">=</span> <span class="mi">1</span><span class="p">,</span> <span class="mi">0</span>

    <span class="c1"># Number of comments for an author to be considered a productive one</span>
    <span class="n">THRESHOLD</span> <span class="o">=</span> <span class="mi">100</span>

    <span class="k">def</span> <span class="nf">lookups</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">request</span><span class="p">,</span> <span class="n">model_admin</span><span class="p">):</span>
        <span class="k">return</span> <span class="p">(</span>
            <span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">YES</span><span class="p">,</span> <span class="s1">&#39;yes&#39;</span><span class="p">),</span>
            <span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">NO</span><span class="p">,</span> <span class="s1">&#39;no&#39;</span><span class="p">),</span>
        <span class="p">)</span>

    <span class="k">def</span> <span class="nf">queryset</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">request</span><span class="p">,</span> <span class="n">queryset</span><span class="p">):</span>
        <span class="n">qs</span> <span class="o">=</span> <span class="n">queryset</span><span class="o">.</span><span class="n">annotate</span><span class="p">(</span><span class="n">Count</span><span class="p">(</span><span class="s1">&#39;comments&#39;</span><span class="p">))</span>

        <span class="c1"># Note the syntax. This way we avoid touching the queryset if our</span>
        <span class="c1"># filter is not used at all.</span>
        <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">value</span><span class="p">()</span> <span class="o">==</span> <span class="bp">self</span><span class="o">.</span><span class="n">YES</span><span class="p">:</span>
            <span class="k">return</span> <span class="n">qs</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="n">comments__count__gte</span><span class="o">=</span><span class="bp">self</span><span class="o">.</span><span class="n">THRESHOLD</span><span class="p">)</span>
        <span class="k">if</span> <span class="bp">self</span><span class="o">.</span><span class="n">value</span><span class="p">()</span> <span class="o">==</span> <span class="bp">self</span><span class="o">.</span><span class="n">NO</span><span class="p">:</span>
            <span class="k">return</span> <span class="n">qs</span><span class="o">.</span><span class="n">filter</span><span class="p">(</span><span class="n">comments__count__lt</span><span class="o">=</span><span class="bp">self</span><span class="o">.</span><span class="n">THRESHOLD</span><span class="p">)</span>

        <span class="k">return</span> <span class="n">queryset</span>


<span class="k">class</span> <span class="nc">PictureAdmin</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">ModelAdmin</span><span class="p">):</span>
    <span class="n">list_filters</span> <span class="o">=</span> <span class="p">[</span><span class="o">...</span><span class="p">,</span> <span class="n">ProductiveAuthorsFilter</span><span class="p">]</span>
</pre></div>


<p>Now we can easily select our core authors. How do we actually promote them then?
Let&#8217;s move on to the next&nbsp;section.</p>
<h3 id="tip-3-put-the-common-stuff-to-actions">Tip #3: Put the common stuff to&nbsp;&#8216;actions&#8217;</h3>
<p>This one is a true godsend for content managers. Remember the &#8216;actions&#8217; toolbox
at the top of each model&#8217;s list? It would be very handy if we select some
pictures and make them &#8220;promoted&#8221; with a single click, right? Let&#8217;s
implement&nbsp;it:</p>
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">PictureAdmin</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">ModelAdmin</span><span class="p">):</span>
    <span class="n">actions</span> <span class="o">=</span> <span class="p">[</span><span class="s1">&#39;promote&#39;</span><span class="p">,</span> <span class="p">]</span>

    <span class="k">def</span> <span class="nf">promote</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">request</span><span class="p">,</span> <span class="n">queryset</span><span class="p">):</span>
        <span class="n">queryset</span><span class="o">.</span><span class="n">update</span><span class="p">(</span><span class="n">is_promoted</span><span class="o">=</span><span class="bp">True</span><span class="p">)</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">message_user</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="s1">&#39;The posts are promoted&#39;</span><span class="p">)</span>
    <span class="n">promote</span><span class="o">.</span><span class="n">short_description</span> <span class="o">=</span> <span class="s1">&#39;Promote the pictures&#39;</span>
</pre></div>


<p>And that&#8217;s it! No longer opening each form one by one! Plus, it&#8217;s quite easy
to extend our action further, adding, for example, an intermediate form. Django
docs have an <a href="https://docs.djangoproject.com/en/1.8/ref/contrib/admin/actions/#actions-that-provide-intermediate-pages">excellent section</a> on&nbsp;this.</p>
<h3 id="tip-4-search-on-all-fields-you-need">Tip #4: Search on all fields you&nbsp;need</h3>
<p>Okay, filters are cool but let&#8217;s focus a bit on the search facility. In almost all
installations I&#8217;ve seen the search box is used for searching across one model&#8217;s
fields. But the Django search really shines when you realize it can handle the
relationships. So assume we want it to search in pictures&#8217; titles, authors&#8217;
names and comments&#8217; texts. How do we achieve&nbsp;that?</p>
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">PictureAdmin</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">ModelAdmin</span><span class="p">):</span>
    <span class="n">search_fields</span> <span class="o">=</span> <span class="p">(</span><span class="s1">&#39;title&#39;</span><span class="p">,</span> <span class="s1">&#39;author__name&#39;</span><span class="p">,</span> <span class="s1">&#39;comments__text&#39;</span><span class="p">,</span> <span class="p">)</span>
</pre></div>


<p>Just don&#8217;t forget to add some full-text indices, if your database is big&nbsp;enough.</p>
<h3 id="tip-5-view-an-objects-page-an-easy-way">Tip #5: View an object&#8217;s page – an easy&nbsp;way</h3>
<p>A very common need is to view the object&#8217;s public page on site. By default you
have to browse to the object&#8217;s form and then click on the &#8220;View on site&#8221; button.
That&#8217;s how to make it a bit&nbsp;easier:</p>
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">PictureAdmin</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">ModelAdmin</span><span class="p">):</span>
    <span class="n">list_fields</span> <span class="o">=</span> <span class="p">[</span><span class="o">...</span><span class="p">,</span> <span class="s1">&#39;object_link&#39;</span><span class="p">]</span>

    <span class="k">def</span> <span class="nf">object_link</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">item</span><span class="p">):</span>
        <span class="n">url</span> <span class="o">=</span> <span class="n">item</span><span class="o">.</span><span class="n">get_absolute_url</span><span class="p">()</span>
        <span class="k">return</span> <span class="n">format_html</span><span class="p">(</span><span class="sa">u</span><span class="s1">&#39;&lt;a href=&quot;{url}&quot;&gt;open&lt;/a&gt;&#39;</span><span class="p">,</span> <span class="n">url</span><span class="o">=</span><span class="n">url</span><span class="p">)</span>
    <span class="n">object_link</span><span class="o">.</span><span class="n">short_description</span> <span class="o">=</span> <span class="s1">&#39;View on site&#39;</span>
</pre></div>


<p>This snippet adds a &#8220;View on site&#8221; link to each object in the list. Here we
assume you&#8217;ve already implemented the <code>get_absolute_url()</code> method on your
model. If not - go ahead and do it, it&#8217;ll save you much time. And you&#8217;ll
probably want to move this snippet to a mixin, or a shared base admin&nbsp;class.</p>
<h3 id="tip-6-edit-fields-in-place-right-on-the-list-page">Tip #6: Edit fields in-place right on the list&nbsp;page</h3>
<p>Suppose we need to put an editor&#8217;s note to each comment. And naturally enough,
we don&#8217;t want to open each comment&#8217;s changeform. To implement this, adjust your ModelAdmin a&nbsp;bit:</p>
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">CommentAdmin</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">ModelAdmin</span><span class="p">):</span>
    <span class="n">list_display_fields</span> <span class="o">=</span> <span class="p">(</span><span class="s1">&#39;picture&#39;</span><span class="p">,</span> <span class="s1">&#39;author&#39;</span><span class="p">,</span> <span class="s1">&#39;editors_note&#39;</span><span class="p">,</span> <span class="p">)</span>
    <span class="n">list_editable</span> <span class="o">=</span> <span class="p">(</span><span class="s1">&#39;editors_note&#39;</span><span class="p">,</span> <span class="p">)</span>
</pre></div>


<p>That&#8217;s literally all. Now you can open a comments list, filter it down
to your needs, and start writing notes&nbsp;away.</p>
<h3 id="tip-7-customize-your-totals-with-the-data-you-really-need">Tip #7: Customize your totals with the data you really&nbsp;need</h3>
<p>There&#8217;s a totals line at the bottom of each changelist. Imagine we&#8217;d like to
separate the counts of dogs&#8217; and cats&#8217; pics. This functionality will take a bit
more of code: we have to override the changelist itself, as well as the html
template (more on <a href="https://docs.djangoproject.com/en/1.9/ref/contrib/admin/#overriding-admin-templates">template overriding</a>).</p>
<div class="highlight"><pre><span></span><span class="kn">from</span> <span class="nn">django.contrib.admin.views.main</span> <span class="kn">import</span> <span class="n">ChangeList</span>

<span class="k">class</span> <span class="nc">PicturesChangeList</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">ChangeList</span><span class="p">):</span>
    <span class="k">def</span> <span class="nf">get_results</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">request</span><span class="p">):</span>
        <span class="nb">super</span><span class="p">(</span><span class="n">PicturesChangeList</span><span class="p">,</span> <span class="bp">self</span><span class="p">)</span><span class="o">.</span><span class="n">get_results</span><span class="p">(</span><span class="n">request</span><span class="p">)</span>
        <span class="n">totals</span> <span class="o">=</span> <span class="bp">self</span><span class="o">.</span><span class="n">result_list</span><span class="o">.</span><span class="n">aggregate</span><span class="p">(</span>
            <span class="n">dogs_count</span><span class="o">=</span><span class="n">Sum</span><span class="p">(</span><span class="n">Case</span><span class="p">(</span><span class="n">When</span><span class="p">(</span><span class="n">animal_kind</span><span class="o">=</span><span class="n">Picture</span><span class="o">.</span><span class="n">DOG</span><span class="p">,</span> <span class="n">then</span><span class="o">=</span><span class="mi">1</span><span class="p">),</span>
                           <span class="n">output_field</span><span class="o">=</span><span class="n">IntegerField</span><span class="p">())),</span>
            <span class="n">cats_count</span><span class="o">=</span><span class="n">Sum</span><span class="p">(</span><span class="n">Case</span><span class="p">(</span><span class="n">When</span><span class="p">(</span><span class="n">animal_kind</span><span class="o">=</span><span class="n">Picture</span><span class="o">.</span><span class="n">CAT</span><span class="p">,</span> <span class="n">then</span><span class="o">=</span><span class="mi">1</span><span class="p">),</span>
                           <span class="n">output_field</span><span class="o">=</span><span class="n">IntegerField</span><span class="p">())))</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">totals</span> <span class="o">=</span> <span class="n">totals</span>


<span class="k">class</span> <span class="nc">PictureAdmin</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">ModelAdmin</span><span class="p">):</span>
    <span class="k">def</span> <span class="nf">get_changelist</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">request</span><span class="p">):</span>
        <span class="k">return</span> <span class="n">PicturesChangeList</span>
</pre></div>


<p>and the&nbsp;template:</p>
<div class="highlight"><pre><span></span>{% extends &#39;admin/change_list.html&#39; %}
{% block result_list %}
    {{ block.super }}
    <span class="p">&lt;</span><span class="nt">p</span><span class="p">&gt;</span>
        There are
        <span class="p">&lt;</span><span class="nt">strong</span><span class="p">&gt;</span>
            {{ cl.totals.dogs_count|default:&#39;none&#39; }} dogs and
            {{ cl.totals.cats_count|default:&#39;none&#39; }} cats
        <span class="p">&lt;/</span><span class="nt">strong</span><span class="p">&gt;</span>
        on this page.
    <span class="p">&lt;/</span><span class="nt">p</span><span class="p">&gt;</span>
{% endblock %}
</pre></div>


<h3 id="tip-8-readonly-admin-interface-for-some-of-us">Tip #8: Readonly admin interface for some of&nbsp;us</h3>
<p>Guess what? Your grandma wants to take a look at all these cuties, and she
loves the Django admin interface she watched over your shoulder. But you&#8217;re sure she
will ruin the whole site if there is a single button. Okay, let&#8217;s put together
the grandma-proof&trade; readonly admin interface (who&#8217;s said&nbsp;&#8220;databrowse&#8221;?):</p>
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">GrandmaProofAdmin</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">ModelAdmin</span><span class="p">):</span>
    <span class="k">def</span> <span class="nf">get_readonly_fields</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">request</span><span class="p">,</span> <span class="n">obj</span><span class="o">=</span><span class="bp">None</span><span class="p">):</span>
        <span class="k">if</span> <span class="n">request</span><span class="o">.</span><span class="n">user</span><span class="o">.</span><span class="n">username</span> <span class="o">==</span> <span class="s1">&#39;granny&#39;</span><span class="p">:</span>
            <span class="k">return</span> <span class="p">[</span><span class="n">f</span><span class="o">.</span><span class="n">name</span> <span class="k">for</span> <span class="n">f</span> <span class="ow">in</span> <span class="bp">self</span><span class="o">.</span><span class="n">model</span><span class="o">.</span><span class="n">_meta</span><span class="o">.</span><span class="n">fields</span><span class="p">]</span>
        <span class="k">else</span><span class="p">:</span>
            <span class="k">return</span> <span class="nb">super</span><span class="p">(</span><span class="n">GrandmaProofAdmin</span><span class="p">,</span> <span class="bp">self</span><span class="p">)</span><span class="o">.</span><span class="n">get_readonly_fields</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="n">obj</span><span class="p">)</span>


<span class="k">class</span> <span class="nc">PictureAdmin</span><span class="p">(</span><span class="n">GrandmaProofAdmin</span><span class="p">):</span>
    <span class="o">...</span>
</pre></div>


<p>Now you can safely grant your granny the <code>change pictures</code> permission in order
to see the pictures list. Note that this solution surely will not suit any
serious usage - you&#8217;ll need to handle <a href="https://gist.github.com/aaugustin/1388243">some more cases</a>.</p>
<h3 id="tip-9-per-object-custom-actions">Tip #9: Per-object custom&nbsp;actions</h3>
<p>Sometimes you want to execute a certain action on only one object. The
&#8216;actions&#8217; toolbox surely makes it possible, but ticking the object, selecting
the action, clicking on a button&#8230; There should be a more convenient way,
shouldn&#8217;t it? Let&#8217;s reduce all that stuff to actually clicking on a&nbsp;button.</p>
<p>This time we will be implementing another granny&#8217;s big idea. She&#8217;d like to send
an email to some authors, showing all her&nbsp;love.</p>
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">PictureAdmin</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">ModelAdmin</span><span class="p">):</span>
    <span class="n">list_fields</span> <span class="o">=</span> <span class="p">(</span><span class="o">...</span><span class="p">,</span> <span class="s1">&#39;mail_link&#39;</span><span class="p">,</span> <span class="p">)</span>

    <span class="k">def</span> <span class="nf">mail_link</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">obj</span><span class="p">):</span>
        <span class="n">dest</span> <span class="o">=</span> <span class="n">reverse</span><span class="p">(</span><span class="s1">&#39;admin:myapp_pictures_mail_author&#39;</span><span class="p">,</span>
                       <span class="n">kwargs</span><span class="o">=</span><span class="p">{</span><span class="s1">&#39;pk&#39;</span><span class="p">:</span> <span class="n">obj</span><span class="o">.</span><span class="n">pk</span><span class="p">})</span>
        <span class="k">return</span> <span class="n">format_html</span><span class="p">(</span><span class="s1">&#39;&lt;a href=&quot;{url}&quot;&gt;{title}&lt;/a&gt;&#39;</span><span class="p">,</span>
                           <span class="n">url</span><span class="o">=</span><span class="n">dest</span><span class="p">,</span> <span class="n">title</span><span class="o">=</span><span class="s1">&#39;send mail&#39;</span><span class="p">)</span>
    <span class="n">mail_link</span><span class="o">.</span><span class="n">short_description</span> <span class="o">=</span> <span class="s1">&#39;Show some love&#39;</span>
    <span class="n">mail_link</span><span class="o">.</span><span class="n">allow_tags</span> <span class="o">=</span> <span class="bp">True</span>

    <span class="k">def</span> <span class="nf">get_urls</span><span class="p">(</span><span class="bp">self</span><span class="p">):</span>
        <span class="n">urls</span> <span class="o">=</span> <span class="p">[</span>
            <span class="n">url</span><span class="p">(</span><span class="s1">&#39;^(?P&lt;pk&gt;\d+)/sendaletter/?$&#39;</span><span class="p">,</span>
                <span class="bp">self</span><span class="o">.</span><span class="n">admin_site</span><span class="o">.</span><span class="n">admin_view</span><span class="p">(</span><span class="bp">self</span><span class="o">.</span><span class="n">mail_view</span><span class="p">),</span>
                <span class="n">name</span><span class="o">=</span><span class="s1">&#39;myapp_pictures_mail_author&#39;</span><span class="p">),</span>
        <span class="p">]</span>
        <span class="k">return</span> <span class="n">urls</span> <span class="o">+</span> <span class="nb">super</span><span class="p">(</span><span class="n">PictureAdmin</span><span class="p">,</span> <span class="bp">self</span><span class="p">)</span><span class="o">.</span><span class="n">get_urls</span><span class="p">()</span>

    <span class="k">def</span> <span class="nf">mail_view</span><span class="p">(</span><span class="bp">self</span><span class="p">,</span> <span class="n">request</span><span class="p">,</span> <span class="o">*</span><span class="n">args</span><span class="p">,</span> <span class="o">**</span><span class="n">kwargs</span><span class="p">):</span>
        <span class="n">obj</span> <span class="o">=</span> <span class="n">get_object_or_404</span><span class="p">(</span><span class="n">Picture</span><span class="p">,</span> <span class="n">pk</span><span class="o">=</span><span class="n">kwargs</span><span class="p">[</span><span class="s1">&#39;pk&#39;</span><span class="p">])</span>
        <span class="n">send_mail</span><span class="p">(</span><span class="s1">&#39;Feel the granny</span><span class="se">\&#39;</span><span class="s1">s love&#39;</span><span class="p">,</span> <span class="s1">&#39;Hey, she loves your pet!&#39;</span><span class="p">,</span>
                  <span class="s1">&#39;granny@yoursite.com&#39;</span><span class="p">,</span> <span class="p">[</span><span class="n">obj</span><span class="o">.</span><span class="n">author</span><span class="o">.</span><span class="n">email</span><span class="p">])</span>
        <span class="bp">self</span><span class="o">.</span><span class="n">message_user</span><span class="p">(</span><span class="n">request</span><span class="p">,</span> <span class="s1">&#39;The letter is on its way&#39;</span><span class="p">)</span>
        <span class="k">return</span> <span class="n">redirect</span><span class="p">(</span><span class="n">reverse</span><span class="p">(</span><span class="s1">&#39;admin:myapp_picture_changelist&#39;</span><span class="p">))</span>
</pre></div>


<p>Hope now she&#8217;s happy. A link has appeared along each object&#8217;s fields, allowing
her to send a mail by simply clicking&nbsp;it.</p>
<h3 id="bonus-tip-reduce-queries-by-adding-a-single-line-to-your-admin">Bonus Tip: Reduce queries by adding a single line to your&nbsp;admin</h3>
<p>The most common tip about the Django admin (and Django in general) is
(worthily) the <code>select_related</code> stuff. Ok, ok, you all know it. Preload the
related objects by passing their names to the <code>list_select_related</code> ModelAdmin
attribute.  But did you know you haven&#8217;t to specify all your relations? Just
set it to <code>True</code>, and Django will automatically preload foreign&nbsp;objects:</p>
<div class="highlight"><pre><span></span><span class="k">class</span> <span class="nc">PictureAdmin</span><span class="p">(</span><span class="n">admin</span><span class="o">.</span><span class="n">ModelAdmin</span><span class="p">):</span>
    <span class="n">list_select_related</span> <span class="o">=</span> <span class="bp">True</span>
</pre></div>


<p>So guys, that&#8217;s it, hope you&#8217;ve liked it. Got any cool tips? Go ahead and share
your favorite ones in&nbsp;comments!</p>
<!&#8212;-

custom actions (incl. dynamic)
custom links/buttons
ordering
    order comments?
list_display_links
some tips about forms? Fieldsets?
somefield__afieldsmethod
Override another module&#8217;s admin

&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;

leave a comment in reddit thread when done

&#8212;->
  </div>
  <div>
    <h4>Read on:</h4>
    <ul>
      <li>
        <a href="./managed-search-and-replace-in-many-files-using-vim-and-ag.html">
          Managed search and replace in many files using Vim and&nbsp;ag.
        </a>
      </li>
      <li>
        <a href="./django-pdf-msword-excel-templates.html">
          Django: how to create <span class="caps">PDF</span>, <span class="caps">MS</span> Word and Excel documents from&nbsp;templates
        </a>
      </li>
    </ul>
  </div>
  <div class="tag-cloud">
    <p>
      <a href="./tag/django.html">django</a>
      <a href="./tag/python.html">python</a>
      <a href="./tag/admin.html">admin</a>
    </p>
  </div>
  <div class="center social-share">
    <p>Like this article? Share it with your friends!</p>
    <div class="addthis_native_toolbox"></div>
    <div class="addthis_sharing_toolbox"></div>
  </div>
<h4>What do you think about it? Share your thoughts!</h4>
<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'alexmorozovgithubio';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</article>

    <footer>
      <p>&copy; Alex Morozov </p>
<p>Built using <a href="http://getpelican.com" target="_blank">Pelican</a> - <a href="https://github.com/alexandrevicenzi/flex" target="_blank">Flex</a> theme by <a href="http://alexandrevicenzi.com" target="_blank">Alexandre Vicenzi</a></p>    </footer>
  </main>
<script type="text/javascript">
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-69605514-1', 'auto');
  ga('send', 'pageview');
</script>
  <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-563ca099f23dfb64" async="async"></script>
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",
  "name": "Why you should use the Django admin: 9&nbsp;tips",
  "headline": "Why you should use the Django admin: 9&nbsp;tips",
  "datePublished": "2015-12-09 10:20:00+03:00",
  "dateModified": "",
  "author": {
    "@type": "Person",
    "name": "Alex Morozov",
    "url": "./author/alex-morozov.html"
  },
  "image": "/images/alex-morozov.jpg",
  "url": "./why-you-should-use-the-django-admin-9-tips.html",
  "description": "This writing is inspired by a comment on Reddit concerning my recent post: “The problem is that everyone I speak to seems to think the opposite - that the admin is super-limited, inflexible and hard to customize.” — andybak on Reddit I’m about to break this prejudice right now. The Django admin is a really brilliant piece of software, which can significantly speed up your development. Here are some tips about the Django admin, which I’ve found to be quite useful."
}
</script></body>
</html>